@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #dfe6ee;
  color: #111;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

/* HEADER */

header {
  background-color: #870000;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.logo img {
  width: 140px;
}

.menu-principal {
  display: flex;
  gap: 40px;
}

.menu-principal a {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

/* TITULO */

.titulo-seccion {
  text-align: center;
  padding: 40px 0;
}

.titulo-seccion h1 {
  font-size: 48px;
  font-weight: 900;
  color: #e5e5e5;
  letter-spacing: 2px;
}

/* MAIN GENERAL */

main {
  padding: 40px 60px;
}

/* INDEX */

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* ARTISTAS */

.artistas-main {
  padding: 60px 40px 100px;
}

.grilla-artistas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.tarjeta-artista {
  text-align: center;
}

.tarjeta-artista img {
  height: 420px;
  object-fit: cover;
}

.tarjeta-artista h2 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}

.tarjeta-artista p {
  font-size: 18px;
}

/* FOOTER */

footer {
  background-color: #870000;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

footer iframe {
  width: 300px;
  height: 150px;
  border: none;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .grilla-artistas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {

  .nav-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-principal {
    flex-direction: column;
    gap: 10px;
  }

  .grilla-artistas {
    grid-template-columns: 1fr;
  }

  .tarjeta-artista img {
    height: auto;
  }
}